@font-face {
  font-family: "iconfont"; /* Project id 3853219 */
  src: url('iconfont.woff2?t=1673083427516') format('woff2'),
       url('iconfont.woff?t=1673083427516') format('woff'),
       url('iconfont.ttf?t=1673083427516') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-WEB:before {
  content: "\e61c";
}

.icon-python:before {
  content: "\e690";
}

.icon-network:before {
  content: "\ec72";
}

.icon-NETWORK:before {
  content: "\e7f4";
}

.icon-network1:before {
  content: "\e617";
}

.icon-programmingwindo:before {
  content: "\e608";
}

.icon-biancheng1:before {
  content: "\e673";
}

.icon-qtcode:before {
  content: "\e676";
}

.icon-gaoxiao:before {
  content: "\e616";
}

.icon-DL:before {
  content: "\e606";
}

.icon-ML:before {
  content: "\e6ac";
}

.icon-moren:before {
  content: "\e614";
}

.icon-gaoxiao1:before {
  content: "\e6b2";
}

.icon-leetcode:before {
  content: "\e678";
}

.icon-cplusplus:before {
  content: "\e62b";
}

